.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 54px;
  padding: 16px;
  color: white;
}

.App-intro {
  font-size: large;
}

.mainOptions {
	background-clip: silver;
	display: flex;
	flex-direction: row;
}
.mainOptions > div {
	border: 1px solid darkgray;
	background-color: beige;
	border-radius: 8px;
	flex: 1 1 auto;
	margin: 40px 20px 40px 20px;
	padding: 15px;
}
.mainOptions > div:hover {
	background-color: antiquewhite;
	border-color: black;
	cursor: pointer;
}

button {
	margin: 10px;
}